@import "tailwindcss";
@import "highlight.js/styles/androidstudio.css";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

pre {
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  background-color: #2d2d31;
  white-space: pre-wrap;
  color: #fff;
}

code {
  
}

.ant-bubble-content p {
  padding: 5px 0;
}